@import url(https://db.onlinewebfonts.com/c/93995d14d1a4ca2527470d6b1a5c5bb4?family=Nomnomnami2+Regular); 

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cbf8ff;
}

.moxie_rulez {
    position: fixed;
    top: -150%;
    left: -150%;
    width: 400%;
    height: 400%;
    background: url('moxierulez.svg');
    background-size: 300px 100px;
    background-repeat: repeat;
    transform: rotate(45deg);
    transform-origin: center;
    animation: moveBackground 2.5s linear infinite;
    z-index: -1;
}

.moxie_spinnnnnn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: auto;
    height: 80vh;
    animation: spin 5s linear infinite;
}

.food {
    position: absolute;
    font-size: 4em;
    animation: fall linear infinite;
    will-change: transform;
}

#let_it_rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

@media (max-aspect-ratio: 1/1) {
    .moxie_spinnnnnn {
        width: auto;
        height: 80vw;
    }
    .food {
        font-size: 2.5em;
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 300px 100px;
    }
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}

#moxie-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    opacity: 1;
    animation: fadeOut 4s forwards;
    animation-delay: 1.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
